{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<style>
		h1,
		form,
		input,
		p {
			padding: 0;
			margin: 0;
			outline: none;
			font-family: Roboto, Arial, sans-serif;
			font-size: 16px;
			color: #666;
		}
		h1 {
			padding: 10px 0;
			font-size: 32px;
			font-weight: 300;
			text-align: center;
		}
		p {
			font-size: 12px;
		}
		hr {
			color: #a9a9a9;
			opacity: 0.3;
		}
		.main-block {
			max-width: 540px;
			min-height: 260px;
			padding: 10px 0;
			margin: auto;
			border-radius: 5px;
			border: solid 1px #ccc;
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
			background: #ebebeb;
		}
		form {
			margin: 0 30px;
		}
		label#icon {
			border-radius: 5px 0 0 5px;
		}
		input[type=text],
		input[type=password] {
			width: calc(100% - 57px);
			height: 36px;
			margin-left: 2px;
			padding-left: 10px;
			border-radius: 0 5px 5px 0;
			border: solid 1px #cbc9c9;
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
			background: #fff;
		}
		#icon {
			display: inline-block;
			padding: 9.3px 15px;
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
			background: #dcb124;
			color: #fff;
			text-align: center;
		}
		.btn-block {
			margin-top: 10px;
			text-align: center;
		}
		.button-sign {
			width: 100%;
			padding: 10px 0;
			margin: 10px auto;
			border-radius: 5px;
			border: none;
			background: #dcb124;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
		}
		button:hover {
			background: #b18f1d;
		}
	</style>
</br>

<div class="main-block">
	<h1>Inscription</h1>
	{# Récupération du formulaire à partir de  registrationFormType #}
	{{ form_start(registrationForm) }}

	<hr>

	<div class="row mb-2 ">
		<div class="col-1">
			<label id="icon" for="pseudo">
				<i class="fas fa-user-secret"></i>
			</label>
		</div>
		<div class="col-11 form-label mt-1">{{ form_row(registrationForm.pseudo_user) }}
		</div>
	</div>

	<div class="row mb-2">
		<div class="col-1">
			<label id="icon" for="nom">
				<i class="fas fa-user"></i>
			</label>
		</div>
		<div class="col-11 form-label mt-1">{{ form_row(registrationForm.nom_user) }}
		</div>
	</div>

	<div class="row mb-2">
		<div class="col-1">
			<label id="icon" for="prenom">
				<i class="fas fa-user"></i>
			</label>
		</div>
		<div class="col-11 form-label mt-1">{{ form_row(registrationForm.prenom_user) }}
		</div>
	</div>

	<div class="row mb-2">
		<div class="col-1">
			<label id="icon" for="name">
				<i class="fas fa-unlock-alt"></i>
			</label>
		</div>
		<div class="col-11 form-label mt-1">{{ form_row(registrationForm.plainPassword) }}
		</div>
	</div>

	{{ form_row(registrationForm.photo_user) }}
	<hr>
	<div class="btn-block">
		{{ form_end(registrationForm) }}
		<button class="button-sign" name="submit" id="submit" type="submit">S'inscrire</button>
	</div>
</div>{% endblock %}
