{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<style>
		h1,
		form,
		input,
		p {
			padding: 0;
			margin: 0;
			outline: none;
			font-family: Roboto, Arial, sans-serif;
			font-size: 16px;
			color: #666;
		}
		h1 {
			padding: 10px 0;
			font-size: 32px;
			font-weight: 300;
			text-align: center;
		}
		p {
			font-size: 12px;
		}
		hr {
			color: #a9a9a9;
			opacity: 0.3;
		}
		.main-block {
			max-width: 540px;
			min-height: 260px;
			padding: 10px 0;
			margin: auto;
			border-radius: 5px;
			border: solid 1px #ccc;
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
			background: #ebebeb;
		}
		form {
			margin: 0 30px;
		}
		label#icon {
			margin: 0;
			border-radius: 5px 0 0 5px;
		}
		input[type=text],
		input[type=password] {
			width: calc(100% - 57px);
			height: 36px;
			margin: 13px 0 0 -5px;
			padding-left: 10px;
			border-radius: 0 5px 5px 0;
			border: solid 1px #cbc9c9;
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
			background: #fff;
		}
		input[type=password] {
			margin-bottom: 15px;
		}
		#icon {
			display: inline-block;
			padding: 9.3px 15px;
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
			background: #dcb124;
			color: #fff;
			text-align: center;
		}
		.btn-block {
			margin-top: 10px;
			text-align: center;
		}
		.button-sign {
			width: 100%;
			padding: 10px 0;
			margin: 10px auto;
			border-radius: 5px;
			border: none;
			background: #dcb124;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
		}
		button:hover {
			background: #b18f1d;
		}
	</style>


</form></br><div class="main-block">
<h1>Inscription</h1>
<form action="{{ path('app_login') }}" method="post">

	<hr>
	<label id="icon" for="name">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" required/>
	<label id="icon" for="name">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="nom" id="nom" placeholder="Nom" required/>
	<label id="icon" for="name">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="prenom" id="prenom" placeholder="Prénom" required/>

	<label id="icon" for="name">
		<i class="fas fa-unlock-alt"></i>
	</label>
	<input type="password" name="mdp" id="mdp" placeholder="Mot de passe" required/>

	<label id="icon" for="photo">
		<i class="fa fa-user-circle"></i>
	</label>
	Photo de profil
	<br>
	<input type="file" name="photo" id="photo" placeholder="Photo de profil" accept=".png,.jpeg,.jpg,.svg"/>

	<hr>
	<div class="btn-block">
		<button class="button-sign" type="submit" href="{{path('app_homepage')}}">S'inscrire</button>
	</div>
</form></div>{{ form_start(registrationForm) }}{{ form_row(registrationForm.pseudo_user) }}{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}{{ form_row(registrationForm.agreeTerms) }}<button type="submit" class="btn">S'inscrire</button>{{ form_end(registrationForm) }}{% endblock %}
