{% extends 'base.html.twig' %}

{% block title %}Fil d'actualité
{% endblock %}

{% block body %}
	<style>
		.card {
			padding: 20px;
			margin: 3%;
		}
		.btn-block {
			margin-top: 10px;
			text-align: center;
		}
		.button-add {
			width: 95%;
			padding: 10px 0;
			margin: 10px auto;
			border-radius: 5px;
			border: none;
			background: #dcb124;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
		}
		button:hover {
			background: #b18f1d;
		}
		.deconect {
			color: white;
			height: 530px;
			display: flex;
			align-items: center;
			justify-content: center;
			font: 20px / 1.5 sans-serif;
		}
		.card-img {
			height: 300px;
			width: auto;
		}
	</style>


	{% if app.user %}
		{# Disponible que si l'utilisateur est connecté #}
		<div class="container">

			<div class="btn-block">
				<button class="button-add" onclick="window.location.href = '{{ path('app_formPost') }}'">Nouveau post</button>
			</div>

			{# Affichage des post que l'admin a validé #}
			{% for post in liste_post %}
				{% if post.getAffichage()==1 %}
					<div class="card">
						<div class="card-body">
							<p>
								<h5 class="card-title">
									<span>{{ post.getTitrePost() }}</span>
								</h5>

								<span>
									{# Pseudo cliquable pour acceder à tous les posts de cet utilisateur #}
									<a href="{{ path('app_utilisateurPost', { 'id': post.getUser().getId() }) }}">{{ post.getUser().getPseudoUser() }}</a>
								</span>

							</p>

							{% if post.getImagePost() %}
								<img src="images/{{ post.getImagePost() }}" class="card-img" alt="{{ post.getImagePost() }}">
							{% endif %}

							<p>
								<span>{{ post.getDescriptionPost() }}</span>
							</p>

						</div>
					</div>
				{% endif %}

			{% endfor %}
		</div>

	{% else %}
		{# Si l'utilisateur n'est pas connecté, on lui demande de le faire #}
		<div class="container deconect">
			<p>
				<a href="{{ path('app_login') }}">
					CLIQUEZ ICI
				</a>
				pour accéder aux contenus</p>
		</div>
	{% endif %}
{% endblock %}
